{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>About <em>SpeedingTickets - Utah</em></h1>
            </div>
        </div>
    </div>

    <div class="services">
        <div class="container">
            <!-- <div class="col-md-4 col-sm-6"> -->
                    <br> <br>
                    <!-- <div class="text">
                        <h4>More words</h4>
                        <p>This is a brief description of stuff</p>
                    </div> -->
                
            </div>
        </div>
    </div>


    <div class="more-about-us">
        <div class="container">
            <div class="col-md-5 col-md-offset-7">
                <div class="content">
                    <h2>What is the purpose of this site?</h2>
                    <span>You got a ticket, now enter some info and help a future someone avoid getting one</span>
                    <p>Here at Speeding Tickets - Utah we are all about collecting the information needed to help prevent future residents of Utah Valley
                        from getting a completely avoidable speeding ticket. As we all know too well, the highway patrols of Utah Valley can sometimes be merciless
                        in their enforcement of driving over the speed limit. Our hope is that drivers like you will input your data into our state-of-the-art 
                        database so we can analyse and display the data for any other drivers hoping to avoid making the same unfortunate mistake as you. 
                    <br><br>Help out your fellow men... or women, and put your data into the database so we can learn, be safe, and avoid paying for completely 
                unnesessary tickets together.</p>
                    <!-- <div class="simple-btn">
                        <a href="#">Continue Reading</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}