{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
              <h1>Welcome to <em>Speeding Tickets - UTAH</em></h1>
              <p>A public database for recording speeding tickets in Utah Valley</p>
              <p>Enter your data so a future someone doesn't have to </p>
                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="{% static 'img/scroll-icon.png' %}" alt=""></a>
                </div>    
            </div>
        </div>
        <video autoplay="" loop="" muted>
        	<source src="{% static 'highway-loop.mp4' %}" type="video/mp4" />
        </video>
    </div>


    <div class="full-screen-portfolio" id="portfolio">
        <div class="container-fluid">
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'img/provo.jpg' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Provo <em>Utah</em></h1>
                                <p>Enter a speeding ticket received in Provo</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/provo.jpg' %}" height="380">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'img/Orem.png' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Orem <em>Utah</em></h1>
                                <p>Enter a speeding ticket received in Orem</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/Orem.png' %}" height="380">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'img/springville.jpg' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">   
                            <div class="hover-content">
                                <h1>Springville <em>Utah</em></h1>
                                <p>Enter a speeding ticket received in Springville</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/springville.jpg' %}" height="380">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'img/spanishfork.jpg' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Spanish Fork <em>Utah</em></h1>
                                <p>Enter a speeding ticket received in Spanish Fork</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/spanishfork.jpg' %}" height="380">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'img/pleasantgrove.jpg' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Pleasant Grove <em>Utah</em></h1>
                                <p>Enter a speeding ticket received in Pleasant Grove</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/pleasantgrove.jpg' %}" height="380">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'img/lehi.jpg' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Lehi <em>Utah</em></h1>
                                <p>Enter a speeding ticket received in Lehi</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/lehi.jpg' %}" height="380">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'img/saratoga.jpg' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Saratoga Springs <em>Utah</em></h1>
                                <p>Enter a speeding ticket received in Saratoga Springs</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/saratoga.jpg' %}" height="380">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static 'img/highland.jpg' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Highland <em>Utah</em></h1>
                                <p>Enter a speeding ticket received in Highland</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/highland.jpg' %}" height="380">
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="portfolio-item">
                	<a href="{% static 'img/othercity.jpg' %}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Other City <em>Utah</em></h1>
                                <p>Enter a speeding ticket received for any other city in Utah Valley</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{% static 'img/othercity.jpg' %}" height="380">
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}