{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>Enter<em> Data</em></h1>
            </div>
        </div>
    </div>

    <div class="blog-entries">
        <div class="container">
            <div class="col-md-9">
                <div class="blog-posts">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="single-blog-post">
                                <div class="text-content">
                                    <h2>Here is a place to enter data into the database</h2>
                                    <span><a href="#">Please enter your data here</a>
                                    <p></p>
                                    <br><br>
                                    We can put the form here
                                	<br><br>
                                    <br><br><a href="blog.html">Submit</a></p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="side-bar">
                </div>
            </div>
        </div>
    </div>

    {% endblock %}